sudo: true
dist: trusty
language: python
python: "2.7"

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y libc6 libgcc1 libstdc++6 libboost-dev libboost-test-dev libboost-program-options-dev libboost-system-dev libboost-filesystem-dev libevent-dev automake libtool flex bison pkg-config g++ libssl-dev ant default-jdk thrift-compiler
  # - travis_retry wget http://http.us.debian.org/debian/pool/main/t/thrift-compiler/thrift-compiler_0.9.1-2_amd64.deb -O thrift-compiler.deb
  # - sudo dpkg -i thrift-compiler.deb
  - sudo mkdir /user_data
  - sudo chmod -R 777 /user_data/
  - whoami

install:
  - source src/setup.sh
  - pip install -r requirements.txt
  - python src/scripts/generate_secret_key.py
  - cd src

addons:
  postgresql: "9.4"

services:
  - postgresql

before_script:
  - psql -c "create database datahub;" -U postgres

script: 
  - python manage.py test inventory  # tests models
  - python manage.py test www        # tests home page
  - python manage.py test account    # tests account management views
  - python manage.py test browser    # tests datahub core views
  - python manage.py test core       # tests datahub core database access
  # a DB problem requires the Functional Tests to be run seperately
  # - python manage.py test functional_tests.test_login_auth
  # - python manage.py test functional_tests.test_layout_and_styling